#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;

}

.workImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add a smooth transition for the hover effect */
}

.workImg:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
    filter: brightness(1.2); /* Increase brightness on hover (adjust as needed) */
}

/* .workImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; 
}*/
/*
.workImg:hover {
    transform: scale(1.1) translateY(-5px); 
    opacity: 0.8; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
} */

.workBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

@media screen and (max-width:585px) {
    .workImg{
        height: 48vw;
    }
}

/* @media screen and (max-width: 768px) {
    .worksTitle {
        font-size: 2.5rem;
    }
    .worksDesc {
        font-size: 0.9rem;
    }
} */